body {
    margin: 0px;
    background-color: black;

}

script {
    visibility: visible;
}

header{
    position: absolute;
    text-align: center;
    width: 30%;
    margin-left: 35%;
}
.LogoWK {
    width: 320px;
    height: 80px;
    text-align: center;
    border-radius: 20px;
    border-width: 20px;
    border-color: white;
    border-style: solid;
    border-bottom: none;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    position: relative;

}