body{
    height: 100%;
}

img{
    width: 300px;
    height: 100px;
}

dialog{
    display: none;
    position: absolute;
    top: 250px;
}

.LogoWK {
    width: 320px;
    height: 80px;
    text-align: center;
    border-radius: 20px;
    border-width: 20px;
    border-color: white;
    border-style: solid;
    border-bottom: none;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    position: relative;
    margin-left: 500px;
}
html{
    height: 100%;
}