body {
    margin: 0px;
    background-color: black;
}


.Stadion {
    width: 25%;
    height: 970px;
    margin: 0px;
    float: left;
    -webkit-filter: grayscale(75%);
    filter: grayscale(75%);
    position: absolute;
    }

h1 {
    float: left;
    color: white;
    position: relative;
    margin-left: 250px;
    font-size: 35px;
    font-family: Elephant;
}

.Stadion:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.Homepage {
    float: left;
    margin-top: -800px;

}

header {
    position: absolute;
    text-align: center;
}

.LogoWK {
    width: 320px;
    height: 80px;
    text-align: center;
    border-radius: 20px;
    border-width: 20px;
    border-color: white;
    border-style: solid;
    border-bottom: none;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    position: relative;
    margin-left: 775px;
}

.clock {
    font-family: Broadway;
    color: white;
    margin-inside: 50px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -15px;
    font-size: 25px;
}

.tekstBijClock {
    font-family: Broadway;
    color: white;
    margin-inside: 50px;
    text-align: center;
    font-size: 15px;
}
.divClock {
    font-family: Broadway;
    color: white;
    background-color: black;
    margin-inside: 50px;
    border: white;
    border: solid;
    border-width: 1px;
    width: 400px;
    height: 70px;
    text-align: center;
    /*margin-left: auto;/*
    /*margin-right: auto;/*
    /*margin-top: 560px;*/
    position: absolute;
    bottom: 5px;
    margin-left: 775px;
}

.p1 {
    text-align: center;
    font-family: Elephant;
    font-weight: bold;
    font-size: 50px;
    color: white;
    position: relative;
    margin-top: 250px;
}

.link {
    float: left;
    width: 25%;
    height: 970px;
    margin: 0px;
}
